.NavContainer{
  display: flex;
  width: 95%;
  margin: 10px auto 0 auto;
  padding: 1em;
  border-radius: 15px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  border: 2px solid black;
  align-items: center;
  justify-content: space-evenly;
}

.navLink {
margin: auto;
display: flex;
flex-direction: row;
align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: gray;
  text-align: center;
  margin-top: auto;
  padding: 8px;
}