.App {
  text-align: center;
}

:root {
  /* BACKGROUNDS */
  
  --bg-color: #e76f51;
  --bg-image: linear-gradient(45deg, #f4a261 33%, #fb5607 100%);
}

body {
  background-image: url( https://cdn2.tfx.company/images/clickwallpapers-rickandmorty-desenho-4k-img2.jpg );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* BUTTONS */

.btn {
  background-image: linear-gradient(to right, #264653 0%, #2a9d8f  51%, #e9c46a  100%);
  margin: 0 10px 0 10px;
  padding: 7px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;         
  font-weight: bold;   
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* INPUTS */

input {
  display: block;
  align-items: center;
  box-sizing: border-box;
  margin: 5px auto 5px auto;
  border-radius: 5px;
}

input:focus {
  outline: 2px solid #26d0cd87;
}

.text{
  border-radius: 30px;
  width: 300px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 23px;
}